@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic';

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App-header {
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.content-container {
  background: #e6ecf0;
  border: .2rem solid black;
  border-radius: .5rem;
  color:  #50b7f5;
  text-align: center;
  display: flex;
  height: 100%;
}

aside, main, .news-sidebar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: inherit;
}

aside {
  align-items: flex-start;
  width: 25%;
}

main {
  width: 50%;
}

.news-sidebar {
  border: 1px solid red;
  width: 25%;
}

#sidebar-userpic {
  height:100px;
  width:100px;
}

ul {
  margin-right: 4rem;
}

ul, li {
  list-style: none;
}

.pa {
  padding: 2em;
}

.content-section{
  display: flex;
  justify-content: center;
}