@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic';



.App {
  border-radius: .5rem;
  border: .2rem solid black;
  min-height: 100vh;
  margin: 2em 4em 2em 4em;
  text-align: center;

}
.App-header {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messages-parent{
    font: 14px/1.4 Roboto, Helvetica, Arial, Tahoma, sans-serif;
		font-weight: 300;
		color: #292F33;
    text-align: left;
  
}
.messages-messagebody{
}

.messages-content{
  max-width:490px;
  background: rgba(147, 188, 200, 0.075);
  border-radius:.1rem;
  padding: 1.5rem;
  border-bottom: 1px solid #879aa7;
  border-top: 1px solid #879aa7;
  margin-bottom: 2rem ;
}

.messages-user{
    width: 32px;
		height: 32px;
		background-size: 32px;
    font-size: 1rem;
    
}

#sidebar-userpic{
  width:100px;
  height:100px;
}
ul{
  margin-right: 4rem;
}

ul, li{
  list-style: none;
}
.pa {
  padding: 2em;
}
.content-section{
  display: flex;
  justify-content: center;
}